@import 'bootstrap/dist/css/bootstrap.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(240, 233, 233);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #384ccc77;
  color:bisque;
}

#font-white {
  color: bisque;
}
